REACT_APP_FIREBASE_API_KEY=AIzaSyDEGYUchH9LnwsmBhibyEc2FQEq79z99KI
REACT_APP_FIREBASE_AUTH_DOMAIN=materna-amiga.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=materna-amiga
REACT_APP_FIREBASE_STORAGE_BUCKET=materna-amiga.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=211564202556
REACT_APP_FIREBASE_APP_ID=1:211564202556:web:864b0c7f8fb8f8df061139
REACT_APP_FIREBASE_MEASUREMENT_ID=G-WC2P1H5KMM
REACT_APP_API_URL=http://localhost:3333